.parentDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    gap: 20px;
    background-color: white;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    background-color: rgb(247, 247, 247);
    /* padding: 5px; */
}
.topHeader{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}


