.parentDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    gap: 20px;
    background-color: white;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    background-color: rgb(224, 224, 224);
}

.form {
    display: flex;
    flex-direction: column;
    width: 90%;
    gap: 20px;
    padding: 20px 10px;
    margin-bottom: 10px;
}

.Formrow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    /* background-color: darkcyan; */
}

.ButtonRow {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: salmon; */
}
.textArea{
    width: 100%;
}
.modalContent {
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    max-width: 500px;
    margin: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.newAddressForm {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-top: 20px;
}

.modalContent h3 {
    margin-bottom: 10px;
    text-align: center;
    font-size: 1.5rem;
}

button {
    margin-top: 20px;
    align-self: center;
}

.modalCheckboxGroup {
    display: flex;
    justify-content: space-around;
    margin: 10px 0;
}

.textFieldContainer {
    grid-column: span 2;
}

