.parentDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    gap: 20px;
    background-color: white;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    background-color: rgb(196, 195, 195);
}
.button {
    width: 100%;
    padding: 20px 10px;
    text-align: end;
}
.buttonDiv{
    display: flex;
    gap: 20px;
    width: 100%;
    /* background-color: green; */
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-bottom:10px ;
}
.pageDiv{
    display: flex;
    gap: 12px;
    align-items: flex-end;
    
}
.pageNo {
    font-size: 20px;
    font-weight: 400;
    color: rgb(85, 85, 85);
    border: 1px solid rgb(85, 85, 85);
    padding: 10px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}